.product-actions {
	display: flex;
	justify-content: space-evenly;
}

.product-counter {
	max-width: 40%;
	min-width: 80px;
	min-height: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #f1f1f1;
}

.product-counter-button {
	height: 25px;
	width: 25px;
	border: none;
	font-size: medium;
	font-weight: 700;
}

.product-counter-button:hover {
	color: #fbaf85;
	background-color: #e4e1e1;
}

.product-actions-button {
	width: 140px;
	height: 40px;
	background-color: #d87d4a;
	color: white;
	border: none;
}

.product-actions-button:hover {
	background-color: #fbaf85;
}

.product-available {
	margin-top: 10px;
	font-weight: lighter;
	opacity: 70%;
}

.product-error-msg {
	color: #d87d4a;
}
